body{
	background: black;
	color:white;
	font-family: 'Open Sans',sans-serif;
}
main{
	max-width: 1280px;
	display: block;
	margin: 0 auto;
	text-align:center;
}
.buttons .one{
	background: #5079A5;	
}
.buttons .two{
	background: #F18E3B;
}
.buttons .three{
	background: #DF575B;	
}
.buttons .four{
	background: #79B7B2;	
}
.buttons .five{
	background: #5CA053;
}
.buttons .six{
	background: #AE7AA0;
}

#one{
	color: #5079A5;
}
#two{
	color: #F18E3B;
}
#three{
	color: #DF575B;
}
#four{
	color: #79B7B2;
}
#five{
	color: #5CA053;
}
#six{
	color: #AE7AA0;
}
.goodbye{
	float:right;
	height: 100%;
	vertical-align: middle;
}
.option{
	vertical-align: middle;
	display: inline-block;
	padding: 5px;
	font-size: 20px;
}
.buttons .one .dropdown .option{
	background: #5079A5;
}
.buttons .two .dropdown .option{
	background: #F18E3B;
}
.buttons .three .dropdown .option{
	background: #DF575B;
}
.buttons .four .dropdown .option{
	background: #79B7B2;
}
.buttons .five .dropdown .option{
	background: #5CA053;
}
.buttons .six .dropdown .option{
	background:  #AE7AA0;
}
.dropdown p{
	color: #000;
	width: 80%;
	margin: 0 auto;
	font-size: 20px;
	display: block;
	margin-top:15px;
}
.dropdown-exit{
	color: #6B6B6B;
	cursor: pointer;
	display: inline-block;
	float: right;
	top: 0;
	font-size:20px;
	padding:5px 15px;
}
.dropdown .input-area{
	margin: 15px auto;
    display: block;
    width: 85%;
    overflow: hidden;
    height: 40px;
    position: relative;
}
.dropdown input{
    display: inline-block;
    width: calc(100% - 15px);
    position: absolute;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    padding: 10px 5px;
    font-size: 16px;
}
.add{
	    color: black;
    font-size: 20px;
    position: absolute;
    right: 12px;
    padding: 6px 0px;
    cursor:pointer;
}
body.side main{
	margin-left: 300px;
}
.dropdown{
	width: 290px;
	position: absolute;
	text-align:left;
	left: 0;
	top:0;
	background: white;
	border-radius: 0;
}
.dropdown .option{
	display: block;
	width: 80%;
	margin: 5px auto;
	cursor:pointer;
	border-radius: 5px;
}
.dropdown .option-inner{
	width: 70%;
	display: inline-block
}
.dropdown .goodbye{
	width: 10%;
	text-align:center;
}
.dropdown .option:hover{
	opacity: 0.8;
}
.dropdown-trigger > div{
	display: inline-block;
	}
.dropdown-trigger{
	padding:5px;
	font-size:20px;
	display: inline-block;
	cursor: pointer;
	padding-right: 10px;
	border-right: 0.5px solid rgba(255,255,255,0.6);
}
.lock{
	display: inline-block;
	margin: 0 5px;
	cursor: pointer;
}
.lock:hover{
	opacity: 0.8;
}
.lock.on svg path{
	fill: black;
}
.lock svg path{
	fill: white;
}
.lock svg{
	width: 10px;
    vertical-align: middle;
}
.dropdown-trigger:hover{
	opacity:0.8;
}
.dropdown{
	display: none;
}
.dropdown.open{
	display:block;
    overflow: scroll;
    height: 100vh;
}
h4 .brad{
	display: inline-block;
}
h4 a{
	color:#D35169;
	text-decoration: none;
}
h4 .aarati{
	margin-left:25px;
	display: inline-block;
}
h4:last-child{
/*	max-width: 800px;
	margin: 50px auto;*/
	margin-top:100px;
}

.restore{
	color: #D35169;
	font-size: 12px;
    width: 80%;
    margin: 0 auto;
}
.buttons > div{
	vertical-align: middle;
	display: inline-block;
	border-radius: 5px;
	margin: 0px;
}

.buttons > div > span{
	vertical-align: middle;
	display: inline-block;
	padding: 5px;
	font-size: 20px;
}

h4{
	color:#6B6B6B;
	font-size: 20px;
}
h1{
	font-size: 45px;
}
#statement{
	font-size: 64px;
	margin-top:25px;
}

/*Product*/
.card.is-selected{
	border-radius:5px;
	width:300px;
	margin: 15px;
	padding: 15px;
	opacity:1;
	transform:none;
	-webkit-transform:none;
	-moz-transform:none;
	-o-transform:none;
}

.cards{
	width: 75%;
	margin: 15px auto;
}
#goals .card{
		background:#5079A5;
}
#vision .card{
		background:#F18E3B;
}
#process .card{
		background:#DF575B;
}
#action .card{
		background:#5CA053;
}
#reach .card{
		background:#AE7AA0;
}
.flickity-button{
	background: rgba(0,0,0,0.5);
}
.flickity-button-icon{
	fill:white;
}
.flickity-prev-next-button.previous {
    left: -45px;
}
.flickity-prev-next-button.next {
    right: -45px;
}
.card{
	border-radius:5px;
	width:300px;
	margin: 0 auto;
	padding: 15px;
	opacity:0.8;
	transform: scale(0.8);
	transition:0.2s;
	-webkit-transform: scale(0.8) translateX(5%);
	-webkit-transition:0.2s;
	-moz-transform: scale(0.8) translateX(5%);
	-moz-transition:0.2s;
	-o-transform: scale(0.8) translateX(5%);
	-o-transition:0.2s;
}
.card h3{
	color:white;
	font-size: 20px;
	height: 100px;
}
.cards-wrapper{
	display: none;
}
.cards-wrapper.on{
	display: block;
}
.card h1{
	height: 250px;
	font-size: 35px;
	font-weight: normal;
}
.ticker{
	font-size:24px;

}



.project-body .dropdown.open{
	display:block;
	width: 60%;
	left: 50%;
	top: 50px;
	transform: translateX(-50%);
    overflow: scroll;
    z-index: 9;
    height: auto;
}
 .goal-card{
		background:#5079A5;
}
 .vision-card{
		background:#F18E3B;
}
 .process-card{
		background:#DF575B;
}
.action-card{
		background:#5CA053;
}
.reach-card{
		background:#AE7AA0;
}
.project-body .dropdown .options{
	text-align:center;
}
.dropdown .card{
	display: inline-block;
    margin: 5px;
    vertical-align: top;
    /* float: left; */
    transform: none;
    text-align:center;
    width: 200px;
}
.dropdown .card h1{
	height: 130px;
    font-size: 20px;
    font-weight: normal;
}
.dropdown .card h3{
	    color: white;
    font-size: 14px;
    height: 120px;

}
.project-body .lock.on svg path{
	fill: white;
}
.project-body .lock svg path{
	fill: white;
}
.project-body .lock svg{
	width: 20px;
    vertical-align: middle;
}
.project-body .lock svg:first-child{
	display: inline-block;
}
.project-body .lock svg:last-child{
	display: none;
}
.project-body .lock.on svg:first-child{
	display: none;
}
.project-body .lock.on svg:last-child{
	display: inline-block;
}
/* MOBILE */
@media(max-width: 768px) {
	h1{
		font-size: 20px;
	}
	h4{
		font-size:18px;
	}	
	#statement{
		font-size: 30px;
	}
	.buttons > div > span{
		font-size: 12px;
	}
	.option,.dropdown-trigger,.dropdown-exit, .dropdown p{
		font-size:12px;
	}

	.dropdown.open{
		display:block;
	    overflow: scroll;
	    height: 190px;
	    width: 100vw;
	}
	body.side main{
		margin-left: 0;
		margin-top:200px;
	}
	h4:last-child{
		margin-top:100px;
	}
}
